<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SB Admin 2 - Login</title>

  <!-- Hot reload client page -->
    <script src="/reload/reload.js"></script>


  <!-- Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
  <!-- Fontawesome -->
  <link rel="stylesheet" href="/fontawesome/css/all.css" />
  <!-- Bootstrap Template -->
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body class="text-center">
  <form class="form-signin" id="form-signin">
    <img class="mb-4" src="/images/map-icon.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required=""
      autofocus="" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required="" />
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" /> Remember me
      </label>
    </div>
    <div class="error mb-3 text-danger"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">© VNTT-2020</p>
  </form>

  <!-- Jquery -->
  <script src="/jquery/jquery-3.4.1.js"></script>
  <script src="/jquery/jquery.easing.js"></script>
  <script src="/jquery/jquery.validate.js"></script>
  <!-- Bootstrap -->
  <script src="/bootstrap/popper.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <!-- Select2 -->
  <script src="/select2/select2.full.min.js"></script>
  <!-- DateRangePicker -->
  <script src="/daterangepicker/moment.min.js"></script>
  <script src="/daterangepicker/daterangepicker.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.js"></script>
  <script src="/javascripts/common.js"></script>
  <script src="/javascripts/login.js"></script>
</body>

</html>