<div aria-live="polite" aria-atomic="true"
    style=" position: absolute; top: 4.375rem; right: 0; z-index: 1000; min-height: 200px;">
    <div class="toast" data-delay="1500">
        <!-- data-autohide="false" -->
        <div class="toast-header">
            <img src="https://i.ibb.co/Y3wTFzB/dragon.png" class="rounded mr-2" alt="dragon">
            <strong class="mr-auto text-white">Thông báo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body text-dark font-weight-bold"></div>
    </div>
</div>