<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Load data by POP -->
  <form>
    <div class="form-row">
      <!-- <div class="form-inline text-dark font-weight-bold mr-3">
        <select class="form-control" id="provinceTB" style="width: 200px; max-width: 100%; min-width: 100px;"
          name="provinceTB" placeholder="Tỉnh">
        </select>
      </div> -->
      <div class="form-inline text-dark font-weight-bold">
        <select class="form-control" id="popTB" style="width: 300px; max-width: 100%; min-width: 100px;" name="popsTB"
          placeholder="Trạm POPs">
        </select>
      </div>
    </div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
    </li>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-3">v0.10.3</span>
        <span class="mr-2 d-none d-lg-inline font-weight-bold text-dark" id="username"></span>
        <img class="img-profile rounded-circle" src="/images/user-icon.png" />
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>

<% include logoutModal%>