<div class="modal fade" id="oltModal" tabindex="-1" role="dialog" aria-labelledby="oltModalTitle" aria-hidden="true">
    <div class="modal-dialog modal_width_50 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white font-weight-bold" id="oltModalTitle">OLT Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="oltModal" class="text-dark font-weight-bold">
                    <div class="form-group" style="display: none;">
                        <label>Id</label>
                        <input type="text" name="id" class="form-control text-dark id">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Tên thiết bị</label>
                            <input type="text" name="name" class="form-control text-dark name" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>CRM Name</label>
                            <input type="text" name="CRMName" class="form-control text-dark CRMName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Loại thiết bị</label>
                            <input type="text" name="type" class="form-control text-dark type" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Số lượng port</label>
                            <input type="text" name="quantity" class="form-control text-dark quantity" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>IP</label>
                            <input type="text" name="ip" class="form-control text-dark ip" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>POP</label>
                            <input type="text" name="pop" class="form-control text-dark pop" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Rack</label>
                            <input type="text" name="rack" class="form-control text-dark rack" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label>U</label>
                            <input type="text" name="u" class="form-control text-dark u" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>User</label>
                            <input type="text" name="user" class="form-control text-dark user" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Pass</label>
                            <input type="text" name="pass" class="form-control text-dark pass" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Snmp</label>
                            <input type="text" name="snmp" class="form-control text-dark snmp" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Enable password</label>
                            <input type="text" name="snmpPassword" class="form-control text-dark snmpPassword" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Series</label>
                            <input type="text" name="series" class="form-control text-dark series" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Visa name</label>
                            <input type="text" name="visa" class="form-control text-dark visa" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Syslog Name</label>
                            <input type="text" name="log" class="form-control text-dark log" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>